<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a [routerLink]="['/auth']" routerLinkActive="router-link-active">Authentification</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/appareils']" routerLinkActive="router-link-active">Appareils</a> </li>
      <li routerLinkActive="active"><a [routerLink]="['/edit']" routerLinkActive="router-link-active">Nouvel appareil</a> </li>
      <li routerLinkActive="active"><a [routerLink]="['/user']" routerLinkActive="router-link-active">Utilisateur</a> </li>
    </ul>
    <div class="navbar-right">
      <p >Vous êtes sur le site depuis {{secondes}} secondes !</p>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
